.blog {
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

#medium-widget {
  text-align: left;
  position: relative;
  margin: 50px 150px 0;
}

/* #medium-widget-article__avatar-picture {
  
} */