.contact {
  padding: 75px 0 130px 0;
  display: block;
  background-color: rgb(211, 206, 206);
}

.contact input[type=text] {
  width: 600px;
  height: 30px;
  margin-bottom: 5px;
}

.contact textarea {
  width: 603px;
  height: 250px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}