.projects p, .projects em {
  color: rgb(88, 88, 88);
}

.portfolio {
  padding: 75px 0;
  background-color: rgb(211, 206, 206);
}

.projects {
  text-align: left;
}

.project {
  margin: 20px auto;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.281);
  padding: 25px 25px 35px;
}

.project h3 {
  color: black;
}

.datescope-container {
  width: 276px;
  height: 167px;
}

.datescope {
  background-image: url('../assets/portfolio/datescope.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.game-container {
  width: 268px;
  height: 168px;
}

.game {
  background-image: url('../assets/portfolio/game.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.party-container {
  width: 255px;
  height: 168px;
}

.party {
  background-image: url('../assets/portfolio/party.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.workouts-container {
  width: 312px;
  height: 169px;
}

.workouts {
  background-image: url('../assets/portfolio/workouts.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.project a {
  transition: .5s ease;
  opacity: 1;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
  margin-right: 2px;
}

.project a:hover {
  opacity: 0.6;
}