.projects a, .projects p, .projects em {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.projects a:hover {
 color: black;
}

.portfolio {
  padding-top: 100px;
  background-color: rgb(211, 206, 206);
  padding-bottom: 100px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.project {
  margin: 20px 0;
}

.project h3 {
  color: black;
}