.App {
  text-align: center;
  width: fit-content;
  padding: 0px 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about {
  padding: 1px;
}

#medium-widget {
  text-align: left;
}

.contact input[type=text] {
  width: 600px;
  height: 30px;
  margin-bottom: 5px;
}

.contact textarea {
  width: 603px;
  height: 250px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar, .footer {
  background-color: black;
  padding: 20px;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: large;
}

.social-media { 
  padding-top: 20px;
}

a:hover {
  color: grey;
}

a:active {
  color: rgb(49, 209, 49); 
}