body {
  margin: 0;
  height: 100%;
}

.App {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog {
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

#medium-widget {
  text-align: left;
  padding-left: 200px;
}

.contact {
  padding-bottom: 100px;
  display: block;
  background-color: rgb(165, 162, 162);
  padding-top: 100px;
}

.contact input[type=text] {
  width: 600px;
  height: 30px;
  margin-bottom: 5px;
}

.contact textarea {
  width: 603px;
  height: 250px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  padding: 20px;
  padding-left: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer {
  clear: both;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
}

.navbar, .footer {
  background-color: black;
  color: white;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

.social-media  img { 
  padding: 10px 15px 0;
}

a:hover {
  color: orange;
}

a.active {
  color: rgb(49, 209, 49); 
}

.projects a {
  text-decoration: none;
  color: white;
}

.projects a:hover {
 color: black;
}

.home a {
  color: orange;
  text-decoration: none;
}

.home a:hover {
  color: yellow;
}

.tech-stack img {
  padding: 10px;
}

.portfolio {
  padding-top: 100px;
  background-color: rgb(165, 162, 162);
  padding-bottom: 100px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project {
  margin: 20px;
}

.home {
  padding-top: 175px;
  padding-bottom: 100px;
  background-image: url('./assets/leavesbg-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.home p {
  padding-left: 400px;
  padding-right: 400px;
  text-align: left;
  font-size: 18px;
}

.home h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.home h2 {
  font-size: 30px;
  margin-top: 0;
  color: rgb(165, 162, 162);
}

h3 {
  color: rgb(88, 88, 88);
}

.home img {
  border-radius: 50%;
}

.skills {
  padding-top: 75px;
  padding-bottom: 100px;
}